<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
     Routing and Navigation
  </h1>
</div>
 <!-- <nav>  
   <a routerLink="/departments" routerLinkActive="Active">Department List</a> | 
   <a routerLink="/employees" routerLinkActive="Active">Employees List</a>
   <a routerLink="/employees/6" routerLinkActive="Active">Employees Id</a>
 </nav> -->

 <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/departments" routerLinkActive="Active">Department List</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/employees" routerLinkActive="Active">Employees List</a>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>